/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600&display=swap');


// fonts
$font-family-monospace: 'Fira Code', monospace;
$font-family: 'League Spartan', sans-serif;
$font-family: 'Fjalla One', sans-serif;
$code-block-font-size: 0.6em;

// colours
$body-bg: #fffbf0;
$body-color: #273b50;
$link-color: #7E98A8;
$code-block-bg: $body-bg;
$code-block-border-color: $body-bg;
$tabset-border-color: $body-color;


/*-- scss:rules --*/

.reveal .title {
  font-family: 'Fjalla One', sans-serif;
  font-size: 3em;
  position: absolute;
  top: 220px;
  right: 180px;
}

.reveal .subtitle {
  font-family: 'League Spartan', sans-serif;
  font-size: 1em;
  font-weight: 200;
  position: absolute;
  top: 380px;
  right: 180px;
}

.reveal .authors {
  font-family: 'League Spartan', sans-serif;
  font-size: 1.2em;
  font-weight: 200;
  position: absolute;
  top: 480px;
  right: 180px;
  text-align: right;
}

.reveal .acknowledgement {
  font-family: 'League Spartan', sans-serif;
  font-weight: 100;
  font-style: italic;
  position: absolute;
  bottom: 90px;
  left: 1050px;
  right: 20px;
}

.reveal .slide-title {
  font-family: 'Fjalla One', sans-serif;
  font-size: 2.2em;
}

.v-center-container {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.reveal p {
  font-family: 'League Spartan', sans-serif;
  font-weight: 200;
}

.reveal h2 {
  font-family: 'Fjalla One', sans-serif;
}

.reveal ul {
  font-family: 'League Spartan', sans-serif;
  font-weight: 200;
  font-size: 1.5em;
}

.reveal ul-sml {
  font-family: 'League Spartan', sans-serif;
  font-weight: 200;
  font-size: 1.1em;
}


.reveal .code {
  font-family: 'Fira Code', monospace;
  font-weight: 200;
}

.reveal .caption {
  font-family: 'League Spartan', sans-serif;
  font-weight: 100;
  font-size: 0.6em;
}

.reveal .quote {
  font-family: 'League Spartan', sans-serif;
  font-weight: 100;
  font-size: 1.2em;
  position: absolute;
  left: 300px;
  right: 100px;
  top: 180px;
}

.reveal .quote-author {
  font-family: 'League Spartan', sans-serif;
  font-weight: 100;
  font-size: 0.9em;
  position: absolute;
  left: 300px;
  right: 80px;
  top: 530px;
}

.reveal .quotation-mark {
  font-family: 'League Spartan', sans-serif;
  font-weight: 400;
  font-size: 8em;
  position: absolute;
  left: 20px;
  top: 300px;
}